<div class="people" [progress-bar]="this.tracker">
    <div class="person oy-box"
        *ngFor="let person of this.people | oyFilterPipe: this.peopleService.searchText: ['familyName', 'givenName', 'title']"
        (click)="this.navigateTo('dashboard/person/'+person.id)">
        <div class="img-container">
            <img [src]="person.imgUrl" alt="">
        </div>
        <div class="information">
            <h4>{{ person.givenName + " " + person.familyName }}</h4>
            <p>{{ person.title }}</p>
            <div>
                <span><i class="far fa-thumbs-up"></i> {{ person.numberOfGoodMessages }}</span>
                <span><i class="far fa-thumbs-down"></i> {{ person.numberOfBadMessages }} </span>
            </div>
        </div>
        <div class="best-text">
            <q class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sapiente aperiam
                molestias nulla
                natus repudiandae quos nisi sit sunt...</q>
            <p> <b>- {{ person.bestTextWritter }}</b> </p>
            <div>
                <span><i class="fas fa-plus-circle"></i> {{ person.bestTextPlus }}</span>
                <span><i class="fas fa-minus-circle"></i> {{ person.bestTextMinus }} </span>
            </div>
        </div>
    </div>
    <ng-container *ngIf="this.peopleService.searchText && this.peopleService.searchText !=''">
        <h3 class="text-center">Bulamadın mı?</h3>
        <p class="text-center">Aradığını bulamadıysan, {{ this.peopleService.searchText }} kişisine yazan ilk kişi sen
            neden olmayasın?</p>
        <div class="person oy-box add-new" (click)="this.openAddNewPersonModal()">
            <h1 class="add"><i class="fa fa-plus"></i></h1>
            <div class="img-container">
                <img src="/assets/img/avatar.png" alt="">
            </div>
            <div class="information">
                <h4>{{ this.peopleService.searchText }}</h4>
                <p>Kişinin ünvanı</p>
                <div>
                    <span><i class="far fa-thumbs-up"></i> 0</span>
                    <span><i class="far fa-thumbs-down"></i> 0 </span>
                </div>
            </div>
            <div class="best-text">
                <q class="text">Kişi hakkındaki düşüncelerin, kişi hakkındaki düşüncelerin, kişi hakkındaki
                    düşüncelerin, kişi hakkındaki düşüncelerin...</q>
                <p> <b>- Senin Adın</b> </p>
                <div>
                    <span><i class="fas fa-plus-circle"></i> 0</span>
                    <span><i class="fas fa-minus-circle"></i> 0 </span>
                </div>
            </div>
        </div>
    </ng-container>
</div>