.oy-popover {
  background-color: $main-color;
  opacity: 0.6;
  &.bs-popover-right > .arrow:after {
    border-right-color: $main-color !important;
    opacity: 0.6;
  }
  &.bs-popover-top > .arrow:after {
    border-top-color: $main-color !important;
    opacity: 0.6;

  }
  &.bs-popover-left > .arrow:after {
    border-left-color: $main-color !important;
    opacity: 0.6;

  }
  &.bs-popover-bottom > .arrow:after {
    border-bottom-color: $main-color !important;
    opacity: 0.6;

  }
  .popover-body {
    color: white;
  }
}
