<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
    </div>
    <div class="modal-body">
        <p>Modal body text goes here.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="this.modal.dismiss()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</div>