<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
    </div>
    <div class="modal-body text-center">
        <form *ngIf="this.newPerson">
            <div class="img-container add-image">
                <h1 class="add"><i class="fa fa-plus"></i></h1>

            </div>
            <input type="text" class="form-control" [(ngModel)]="this.newPerson.givenName" name="name">
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="this.modal.dismiss()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</div>