<div class="main-search">
    <div class="wrapper col-md-7">

        <h1 (click)="this.navigateToHome()" class="text-center">Ona yaz.</h1>

        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="this.peopleService.searchText">
            <div class="input-group-append">
                <button class="btn" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>