.wrapper {
  min-height: 2px;
}
.oy-box {
  box-shadow: #0000001c 0 0 9px 0px;
}
.people {
  display: grid;
  grid-gap: 2rem;
  p {
    margin: 0;
  }
  .person {
    cursor: pointer;
    padding: 1rem;

    display: grid;
    grid-template-columns: 100px auto 50%;
    grid-gap: 1rem;
    .information {
      display: grid;
      span:first-child {
        color: $success;
      }
      span:last-child {
        @extend .ml-3;
        color: $danger;
      }
    }
    .best-text {
      text-align: right;
      .text {
        font-style: italic;
      }
      span:first-child {
        color: $success;
      }
      span:last-child {
        @extend .ml-3;
        color: $danger;
      }
    }
    &.add-new {
      &,
      & > * {
        transition: all 0.3s;
      }
      position: relative;
      .add {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: $index;
      }
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $main-color;
        opacity: 0;
        transition: all 0.3s;
      }
      &:hover {
        .add {
          opacity: 1;
        }
        &:after {
          opacity: 0.7;
        }
      }
    }
  }
}
.img-container {
  &,
  img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  /* Animation For Loading */
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  display: inline-block;
  &.add-image {
    animation-duration: 0s;
    position: relative;
    cursor: pointer;
    .add {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: $index;
    }
    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      border-radius: 50%;
      background-color: $main-color;
      opacity: 0;
      transition: all 0.3s;
    }
    &:hover {
      .add {
        opacity: 1;
      }
      &:after {
        opacity: 0.7;
      }
    }
  }
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
