.single-person {
  display: grid;
  grid-gap: 2rem;
  .person {
    text-align: center;
    padding: 1rem;
    img {
      border-radius: 50%;
    }
    .evaluation {
      span:first-child {
        color: $success;
      }
      span:last-child {
        @extend .ml-3;
        color: $danger;
      }
    }
  }
  .write {
    textarea{
      width: 100%;
      border-radius: 0.5rem;
      border: none;
      padding: 1rem;
      font-style: italic;
    }
    .send{
      padding: 1rem;
      text-align: right;
    }
  }
  .message {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 200px;
    grid-gap: 2rem;
    q {
      font-style: italic;
    }
    &.focus{
      box-shadow: 0 0 0 0.2rem rgba(225, 165, 251, 0.75);
    }
    .information {
      text-align: center;
      .author {
        .img-container {
          height: 60px;
          width: 60px;
          img {
            border-radius: 50%;
            height: 60px;
            width: 60px;
          }
        }
        div {
          span:first-child {
            color: $success;
          }
          span:last-child {
            @extend .ml-3;
            color: $danger;
          }
        }
      }
    }
  }
}
