// ROOT Wrapper progress bar
.wrapper > .oy-progress {
  z-index: 1001 !important;
  > .oy-progress-indicator {
    position: fixed;
  }
}

.oy-progress {
  // PROGRES LOADER
  //---------------------------
  &.oy-progress-bar {
    z-index: 1;
    width: 100%;
    position: absolute;
    top: 0;
    transition: width 0.1s linear, opacity 0.2s linear;
    background-color: lighten($main-color, 15%);
    color: $main-color;
    opacity: 0;

    .oy-progress-indicator {
      border-top: 2px solid $main-color;
      transition: width 0.1s linear, opacity 0.2s linear, border-color 0.2s linear;
      width: 0%;
    }

    // States
    &.active {
      opacity: 1;

      &.indeterminate {
        .oy-progress-indicator {
          width: 100%;
          overflow: hidden;
          border: none;

          &:before {
            content: "";
            height: 2px;
            border-top: 2px solid $main-color;
            display: flex;
            transition: all 0.1s linear, opacity 0.2s linear, border-color 0.2s linear;
            animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
          }
        }
      }
    }

    // ANIMATIONS
    @keyframes running-progress {
      0% {
        margin-left: 0;
        width: 25%;
      }
      50% {
        margin-left: 25%;
        width: 50%;
      }
      100% {
        margin-left: 50%;
        width: 100%;
      }
      100% {
        margin-left: 100%;
        width: 100%;
      }
    }
  }

  // PROGRES Button
  //---------------------------
  &.oy-progress-button {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;

    .oy-progress-fb-spinner {
      display: none;
    }

    &.active {
      position: absolute;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      align-content: stretch;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .oy-progress-fb-spinner {
        display: flex;
        > div {
          background-color: white;
        }
      }
    }

    @keyframes oy-progress-button-keyframes {
      0% {
        height: 20px;
      }
      50%,
      100% {
        height: 10px;
      }
    }
  }

  // PROGRES LOADER
  //---------------------------
  &.oy-progress-loader {
    z-index: $index;
    max-width: 100%;
    color: #efefef;
    background-color: #00000005;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;

    .oy-progress-fb-spinner > div {
      background-color: $main-color;
    }

    &.active {
      display: flex;
    }

    .oy-progress-loader-subject {
      display: none;
      color: black;
      font-weight: bold;
      font-size: 15px;

      &.oy-progress-loader-has-subject {
        display: block;
      }
    }
    .oy-progress-loader-hint {
      display: none;
      color: black;
      font-size: 12px;

      &.oy-progress-loader-has-hint {
        display: block;
      }
    }

    // THEME
    &.oy-progress-loader-default {
      background-color: #ffffffa8;
    }
    &.oy-progress-loader-apple {
      background-color: #f7f7f7;

      &:before {
        content: "";
      }
    }
  }

  // GLOBAL-SPINNER

  .oy-progress-fb-spinner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    min-width: 40px;
    max-width: 40px;
    height: 25px;
    > div {
      display: inline-block;
      opacity: 1;
      display: inline-block;
      background: #abb4d5;
      width: 10px;
      height: 20px;
      animation: oy-progress-button-keyframes 0.8s cubic-bezier(0, 0.5, 0.5, 1) infinite;

      &:nth-child(1) {
        animation-delay: -0.23s;
      }
      &:nth-child(2) {
        animation-delay: -0.12s;
      }
      &:nth-child(3) {
        animation-delay: 0;
      }
    }
  }
}
