<div class="single-person" [progress-bar]="this.tracker" id="single-person" *ngIf="this.person">
    <div class="person oy-box" >
        <div class="img-container">
            <img [src]="person.imgUrl" alt="">
        </div>
        <h3>{{ person.givenName + " " + person.familyName }}</h3>
        <p>{{ person.title }}</p>
        <p>{{ person.description }}</p>
        <div class="evaluation">
            <span><i class="far fa-thumbs-up"></i> {{ person.numberOfGoodMessages }}</span>
            <span><i class="far fa-thumbs-down"></i> {{ person.numberOfBadMessages }} </span>
        </div>
    </div>
    <div class="write oy-box" >
        <textarea [(ngModel)]="this.message" name="yourMessage" placeholder="Sevgili {{person.familyName}}..." id="yourMessage" rows="5"></textarea>
        <div class="send">
            <button class="btn btn-primary" (click)="this.sendMessage()">Ona yaz!</button>
        </div>
    </div>
    <div class="message oy-box" *ngFor="let message of this.messages" [class.focus]="message.uniqueId == this.focusedId"
        [id]="message.uniqueId">
        <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore laboriosam, earum accusantium
            eligendi, eaque nihil officia tenetur blanditiis ipsum ullam quae neque temporibus itaque odio modi tempore
            veritatis! Obcaecati expedita consequuntur, inventore quam nobis tempore quo, eligendi sequi asperiores
            officiis sed eos? Similique ab alias vero cumque rerum blanditiis?</q>
        <div class="information">
            <div class="author">
                <div class="img-container">
                    <img [src]="message.imgUrl" alt="">
                </div>
                <p class="mt-2">
                    {{ message.author }}
                </p>
                <div>
                    <span><i class="fas fa-plus-circle"></i> {{ message.messagePlus }}</span>
                    <span><i class="fas fa-minus-circle"></i> {{ message.messageMinus }} </span>
                </div>
            </div>

        </div>
    </div>

</div>