.main-search {
  margin-bottom: 2rem;
  background-color: lighten($main-color, 15%);
  height: 250px;
  display: grid;
  place-items: center;
  border-radius: 0 0 1rem 1rem;
  h1 {
    margin-top: -2rem;
    margin-bottom: 2rem;
    opacity: 0.8;
    font-family: 'Ranga', cursive;
    cursor: pointer;

  }
  .input-group {
    > input,
    > .input-group-append > button {
      border-radius: 3rem !important;
    }
    > input {
      margin-right: -73px;
      z-index: $index;
      border-color: $main-color;
      padding-right: 75px;
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(225, 165, 251, 0.25);
      }
    }
    > .input-group-append > button {
      width: 73px;
      background-color: $main-color;
      z-index: $index + 1;
    }
  }
}
